<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyf.mapper.AdminScoreMapper">

 

    <insert id="insert" parameterType="AdminScore" >
      insert into t_admintoevaluate (evaluate,userid,adminid,score,isDeleted)
      values(#{evaluate},#{userId},#{adminId},#{score},0);     
    </insert>
  
    <select id="select"  parameterType="AdminScore" resultType="AdminScore">
      select * from t_admintoevaluate a
left join t_users u on a.userId = u.id

where a.isDeleted = 0 and a.adminId=#{adminId}   </select>
  

</mapper>