.slick-loading .slick-list{background:#fff url('../images/ajax-loader.gif') center center no-repeat;}
.slick-prev,.slick-next{display:block;position:absolute;top:50%;width:32px;height:55px;margin-top:-27px;padding:0;cursor:pointer;color:transparent;border:none;outline:none;background:url(../images/bnt-slick.png) no-repeat 0 0; }
.slick-next{background:url(../images/bnt-slick.png) no-repeat -32px 0;}
.slick-prev:hover,.slick-prev:focus,.slick-next:hover,.slick-next:focus{color:transparent;outline:none;background:url(../images/bnt-slick.png) no-repeat 0 0;}
.slick-next:hover,.slick-next:focus{background:url(../images/bnt-slick.png) no-repeat -32px 0;}
.slick-prev:hover:before,.slick-prev:focus:before,.slick-next:hover:before,.slick-next:focus:before{opacity:1;}
.slick-prev.slick-disabled:before,.slick-next.slick-disabled:before{opacity:1;}
.slick-prev:before,.slick-next:before{font-size:20px;line-height:1;opacity:1;color:white;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.slick-prev{left:-86px; }
[dir='rtl'].slick-prev{right:-86px;left:auto;}
.slick-prev:before{content:'';}
[dir='rtl'] .slick-prev:before{content:'';}
.slick-next{right:-86px;}
[dir='rtl'] .slick-next{right:auto;left:-86px;}
.slick-next:before{content:'';}
[dir='rtl'] .slick-next:before{content:'';}
.slick-slider{margin-bottom:0px;}
.slick-dots{position:absolute;bottom:10px;display:block;width:100%;padding:0;list-style:none;text-align:center;}
.slick-dots li{position:relative;display:inline-block;width:10px;height:10px;margin:0 5px;padding:0;cursor:pointer;}
.slick-dots li button{font-size:0;line-height:0;display:block;width:10px;height:10px;padding:0px;cursor:pointer;color:transparent;border:0;outline:none;background:#FFF; border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; -webkit-border-radius:50%;}
.slick-dots li button:hover,.slick-dots li button:focus{outline:none;}
.slick-dots li button:hover:before,.slick-dots li button:focus:before{opacity:1;}
.slick-dots li button:before{font-size:6px;line-height:10px;position:absolute;top:0;left:0;width:10px;height:10px;content:'';text-align:center;opacity:1;color:black;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;background:#FFF; border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%; -webkit-border-radius:50%;}
.slick-dots li.slick-active button:before{opacity:1;color:black;background:#ff4800;}
.slick-slider{position:relative;display:block;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent;}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0;}
.slick-list:focus{outline:none;}
.slick-list.dragging{cursor:pointer;cursor:hand;}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
.slick-track{position:relative;top:0;left:0;display:block;}
.slick-track:before,.slick-track:after{display:table;content:'';}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none;float:left;height:100%;min-height:1px;}
[dir='rtl'] .slick-slide{float:right;}
.slick-slide img{display:block;}
.slick-slide.slick-loading img{display:none;}
.slick-slide.dragging img{pointer-events:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent;}